# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables file
.env

# Test coverage file
.coverage

# IDE specific files
.idea/
.vscode/

# Others
*.log